<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit_etland.web.emp.EmployeeMapper">
  <select id="findOneEmployee" resultType="com.bit_etland.web.emp.Employee">
   SELECT 
   		EMPLOYEE_ID employeeID,
   		MANAGER manager,
   		NAME name,
   		BIRTHDATE birthDate,
   		PHOTO photo,
   		NOTES notes
   	FROM EMPLOYEES
  </select>
</mapper>